.advantages__list {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;

	&--decorative {
		.advantages__item {
			padding: 80px 85px;
		}

		.advantages__title {
			position: static;
			padding: 0;

			&::after {
				content: none;
			}
		}
	}
}

.advantages__item {
	width: calc(100% / 3);
	padding: 103px 85px 121px 85px;
	background-color: $background-color-additional-1;
	text-align: center;

	&--unique {
		background-color: $background-color-additional-2;
	}
}

.advantages__icon {
	margin-bottom: 30px;
}

.advantages__title {
	@include h3;
	width: 171px;
	text-transform: uppercase;
	margin: 0 auto 30px auto;
	padding: 0 0 30px 0;
	position: relative;

	&::after {
		content: '';
		width: 60px;
		height: 2px;
		background-color: $color-black-transparent;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.advantages__text {
	@include blockText;
	color: $color-text-additional;
	margin: 0;
}
