.fields {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fields__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  position: relative;


  &--half {
    position: relative;

    .fields__title {
      margin-right: 38px;
    }

    .fields__field {
      font-size: 18px;
      line-height: 20px;
      width: 40px;
      padding: 11px 5px;
      text-align: center;
      position: relative;
      z-index: 5;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }
    }

  }

  &--adult {
    width: 247px;
  }

  &--children {
    width: 242px;

    .fields__title {
      margin-right: 74px;
    }
  }
}

.fields__title {
  @include h4;
}

.fields__field {
  @include fieldText;
  font-weight: 700;
  color: $color-black;
  background-color: $form-element-color-2;
  width: 440px;
  padding: 9px 40px 9px 20px;
  border: 3px solid $form-element-color-2;
  border-radius: 4px 0px 0px 4px;

  &::placeholder {
    @include fieldText;
    font-weight: 700;
    color: $color-black;
  }
}

.fields__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 5;
}

.fields__text {
  margin: 0;
  position: absolute;
  bottom: -25px;
  left: 157px;

  // display: none;

  &--error {
    color: $color-text-error;
  }
}

.fields__tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-additional;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 12px;
  left: 60px;
  cursor: pointer;

  &:hover {
    .fields__info {
      display: block;
    }
  }

  &:focus,
  &:active {
    .fields__info {
      display: block;
    }
  }
}

.fields__info {
  width: 256px;
  margin: 0;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: -120px;
  z-index: 5;
  display: none;

  &::before {
    content: '';
    border: 9px solid #333333;
    border-color: transparent transparent #333333 transparent;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
  }
}