.navigation {
	margin-left: 184px;
}

.navigation__list {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
}

.navigation__item {
	margin-right: 32px;

	&--active {
		.navigation__link {
			border-bottom: 2px solid #756257;
		}
	}

	&:last-child {
		margin-right: 0;
	}
}

.navigation__link {
	@include h4;
	color: $color-black;
	display: block;
	padding: 20px 0;
	cursor: pointer;
	user-select: none;
}